/* PC用スタイル */
@media screen and (min-width: 768px) {
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  max-width: 960px;
}
.home {
  border: 1px solid black;
  padding: 12px 28px 12px 28px;
  text-decoration-line: none;
  color: black;
  font-size: 34px;
  font-weight: bold;
}
.menu > a {
  color: black;
  text-decoration-line: none;
  font-size: 34px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 35px 0 0;
}
/* メイン画像 */
.mainpic {
  width: 100%;
}

/* about */
h1 {
  text-align: center;
  padding-bottom:22px;
  font-size: 34px;
  font-family: "Noto Sans JP", sans-serif;
}
.about {
  display: flex;
  justify-content: center;
}
/* 名前、プロフィール */
span > h2 {
  font-size: 24px;
  font-weight: bpld;
}
ul {
  font-size: 18px;
  font-family: "Not Sans JP",sans-serif;
}
span {
  padding-left: 33px;
}
/* 顔写真 */
.aboutpic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Works */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
p {
  font-size: 18px;
  font-family: "Not Sans JP",sans-serif;
  width: 100%;
}
.works-box {
  width: 15%;
  text-align: center; 
  /* margin: 0 10px 0 10px; */
}
.workspic {
  width:100%;
}
/* footer */
footer p {
  text-align: center; 
  padding-bottom: 20px;
  font-family: "Not Sans JP",sans-serif;
}
}

/* スマホ用スタイル */
@media (max-width: 767px) {
body {
  min-width: 375px;
  margin: 0;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  max-width: 960px;
}
.home {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  text-decoration-line: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.menu > a {
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin: 15px 20px 0 0;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
}
.mainpic {
  width: 100%;
}
/* about */
h1 {
  text-align: center;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
}
.about {
  display: flex;
  justify-content: center;
}
  
/* 名前、プロフィール */
span > h2 {
  font-size: 15px;
  font-weight: bpld;
  margin: 22px 22px 10px 22px;
}
ul {
  font-size: 12px;
  font-family: "Not Sans JP",sans-serif;
}
/* 顔写真 */
.aboutpic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

/* Works */
.works {
  justify-content: center;
  position: relative;
}
p {
  font-size: 12px;
  font-family: "Not Sans JP",sans-serif;
  width: 100%;
  margin: 0 0 20px 0;
}
.works-box {
  width: 100%;
  text-align: center; 
}
.workspic {
  width:400px;
  margin: 0 10px 0 10px;
}

/* footer */
footer p {
  text-align: center; 
  padding-bottom: 20px;
  font-family: "Not Sans JP",sans-serif;
}
}